<!DOCTYPE html>
<html>
@@include('./includes/head.html')
<body>
  @@include('./includes/header.html')

  <div class="large-hero">
    <div class="large-hero__text-content">
      <div class="wrapper">
        <h1 class="large-hero__title">Stop Thinking.</h1>
        <h2 class="large-hero__subtitle">Just Do It.</h2>
        <p class="large-hero__description">Create something amazing today and be proud.</p>
        <p><a href="#" class="btn btn--orange btn--large open-modal">Get Started Now</a></p>
    </div>
    </div>
  </div>

  @@include('./includes/footer.html')

  <!-- build:js assets/scripts/app.js-->
  <script src="./temp/scripts/app.js"></script>
  <!--endbuild-->
</body>
</html>